COMMUNE_HTTP_ADDR=:8090
COMMUNE_DATABASE_URL=postgres://commune:commune@localhost:5432/commune?sslmode=disable
COMMUNE_STATIC_DIR=../web/dist
POSTGRES_DB=commune
POSTGRES_USER=commune
POSTGRES_PASSWORD=commune
